extends layout
block content
  script(src='js/handshake.js' 
        data-app_name="kevin" 
        data-root_url="https://handshakejs.herokuapp.com")
  script.
    handshake.script.addEventListener('handshake:login_confirm', function(e) {
    console.log(e.data);
    $.post("/login/success", {email: e.data.identity.email}, function(data) {
      window.location.href = "/#/dashboard";
    });    
    }, false); 