<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/dashboard">Dashboard</a></li>
    <li><a ng-href="#/dashboard/create-template">Create Template</a></li>
    <li class='active'><a ng-href="#/dashboard/add-recipients">Add Recipients</a></li>
    <li><a ng-href="#/logout">Log Out</a></li>
  </ul>
  <h3 class="text-muted">Re-mind</h3>


<div ng-controller='AddRecipientCtrl'>
 <form action='/api/re-mind/addrecipients' method='post' class='col-md-12'>
    <h3 class='lead'>Add Recipients:</h3>
    <input type='text' name='recipientName' placeholder='Recipients name' />
    <input type='text' name='recipientEmail' placeholder='Input recipients email addresses each separated by a comma' />
    <button class="btn btn-md btn-success">Save</button>
  </form>


</div>